package {{testPackage}};

import com.google.inject.AbstractModule;
import com.google.inject.Provides;
import com.google.inject.Singleton;
import io.vertx.core.Vertx;

/**
* Test Api module where mocks can be configured if needed.
* */
public class {{classname}}TestModule extends AbstractModule {

    @Override
    protected void configure() {
        //bind(HealthCheckHandler.class).asEagerSingleton();
    }

    @Provides
    @Singleton
    public Vertx getVertx() {
        return Vertx.vertx();
    }

}