package {{rootPackage}};

import io.vertx.core.Launcher;

public class Application  {

    public static void main(String args[]) {

        try {
            Launcher.main(new String[] {"run", MainApiVerticle.class.getName()});
        } catch(Exception ex) {
            System.out.println("Application Exception!");
            ex.printStackTrace();
        }

    }

}
